@font-face {
    font-family: 'Cutive Mono';
    src: url("CutiveMono-Regular.ttf");
}

body {
    font-family: 'Cutive Mono', monospace;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    overflow: hidden;
    margin: 0;
    background-color: hsl(var(--hue), 40%, 55%);
    top: 0;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 13vw;
    font-weight: bold;
    color: hsl(0, 0%, 100%);
}

div {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
	z-index: 100;
}

div#input {
    left: initial;
    top: initial;
}

#sprites, #bgs {
	z-index: -1;
}

#sprites {
    top: -100px;
}

img.cat {
    position: absolute;
    height: 100px;
    opacity: 0.7;
    transform: scale(-1, 1);
}

img.bg {
    position: absolute;
    bottom: -150px;
    width: 300px;
    z-index: -10;
    --mask: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
    mask-image: --mask;
    -webkit-mask-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
    filter: hue-rotate(calc(var(--hue) * 1deg - 180deg));
    image-rendering: pixelated;
}

#input {
    box-sizing: border-box;
    position: absolute;
    bottom: -2000px;
    transition-duration: 0.5s;
}

#input.show {
    bottom: 0;
}

#input > div {
    border-radius: 20px;
    padding: 20px;
    width: auto;
    height: auto;
    background-color: rgba(255, 255, 255, 0.85);
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
}

input {
    border: 2px solid #333;
    font-size: 20pt;
    text-align: inherit;
}

h2 {
    margin: 0 0 10px 0;
}